* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0px;
    justify-content: space-around;
    border-bottom: solid black 1px;
    gap: 30px;
    align-items: center;
    background-color: white;

}

.navbar__s1__title {
    color: #9C3BD7;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    flex-basis: 50%;
   display: flex;
   align-items: center;
   
    
  
}

.navbar__s2 input {
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 20px;



}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    padding: 10px;
    display: flex;
    gap: 30px;
}
.navbar__s4{
    display: none;
}

.myleaning {
    position: relative;
    cursor: pointer;
    
}

.myleaning__popup {
    position: absolute;
    background-color: black;
    color: white;
    border: solid black 1px;
    padding: 20px;
    top: 150%;
    right: 0;
    width: 100px;
    display: none;

}

.myleaning:hover .myleaning__popup {
    display: block;
    
}

.caterage {
    display: flex;
    padding: 10px;

    justify-content: space-around;
    border-bottom: solid black 1px;
}

.caterage p {
    background-color: #9C3BD7;
    color: white;
    border-bottom: solid 1px black;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.caterage p:hover {
    background-color: yellowgreen;
    border: solid 1px black;
    color: black;
    transition: 1s;
}

.sales-image {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

}

.sales-image img {
    width: 100%;
}

.sales-image__offer {
    background-color: white;

    color: black;
    padding: 10px;
    position: absolute;
    border: solid black 2px;
    left: 20%;
    top: 40%;
    animation-name: zoom;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scaleX(1);
        opacity: 1;

    }

}

.recommended {
    padding: 10px;

}

.recommended__container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card {
    flex-basis: 20%;
    
    margin: 5px;



}

.course-card img {
    width: 100%;


}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 0px;
    padding: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p {
    background-color: yellow;

    border: solid grey 2px;
    font-size: xx-large;
    margin: 5px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.footer {
    background-color: black;
    color: aliceblue;
    padding: 10px;
}

.footer__one {
    display: flex;
    margin: 10px;
    padding: 10px;
    gap: 20px;
}

.footer__one__s2 {

    color: white;
}

.footer__one p {
    margin: 10px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

/* media querys */
@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
    .navbar__s2,.navbar__s3,.caterage{
        display: none;
    }
    .course-card{
        flex-basis:40% ;
    }
     .navbar__s4{
   display: block;
   }
   
    }
  @media screen and (max-width:600px){
    body{
        font-size: 10px;
    }
    .navbar__s2,.navbar__s3,.caterage{
        display: none;
    }
   .course-card{
    flex-basis: 40%;
   }
   .navbar__s4{
   display: block;
   }
    }
